<div class="intest">
  <div class="d-flex justify-content-center">
    <div class="titolo">TOUCH-SCREEN</div>
  </div>
</div>

<!-- Sezione esistente -->
<section class="sezione1">
  <div class="contInput">
    <input class="form-control myForm" value="Numero" readonly />
    <span class="spazio"></span>
    <input class="form-control myForm" type="number" value="1" />

    <span class="spazio"></span>

    <input class="form-control myForm" value="Data" readonly />
    <span class="spazio"></span>
    <input class="form-control formPers2" type="date" [value]="currentDate" />

    <span class="spazio"></span>

    <input class="form-control myForm" value="Orario" readonly />
    <span class="spazio"></span>
    <input class="form-control formPers myForm" type="time" [value]="currentTime" />

    <div class="contInput2">
      <input class="form-control formPers2" value="Codice Lotteria" readonly />
      <span class="spazio"></span>
      <input class="form-control myForm" type="text" id="inputCodice">
      <div class="bordoX">
        <i class="fa-solid fa-x" (click)="resetInput()"></i>
      </div>
    </div>
  </div>
</section>

<!-- Nuova Sezione con Griglia e Pannello Laterale -->
<!-- Layout Principale -->
<div class="layout-container">
  <!-- Sidebar delle Categorie -->
  <div class="sidebar">
    <ul>
      <li *ngFor="let categoria of categorie" (click)="selezionaCategoria(categoria)"
        [class.active]="categoria === categoriaSelezionata">
        {{ categoria.nome }}
      </li>
    </ul>
  </div>



  <!-- Griglia Centrale -->
  <div class="grid">
    <!-- Intestazioni delle Colonne -->
    <div class="header-row">
      <div *ngFor="let tipologia of tipologie" class="header-cell" (click)="selezionaTipologia(tipologia)"
        [class.active]="tipologia === tipologiaSelezionata">
        {{ tipologia }}
      </div>
    </div>

    <!-- Mostra gli articoli raggruppati per tipologia -->
    <div class="grid-content">
      <ng-container *ngIf="tipologiaSelezionata; else mostraTuttiArticoli">
        <div class="grid-column">
          <div class="grid-item" *ngFor="let articolo of articoliFiltrati[tipologiaSelezionata]">
            {{ articolo }}
          </div>
        </div>
      </ng-container>

      <!-- Mostra tutti gli articoli se nessuna tipologia è selezionata -->
      <ng-template #mostraTuttiArticoli>
        <div class="grid-column" *ngFor="let tipologia of tipologie">
          <div class="grid-item" *ngFor="let articolo of articoliFiltrati[tipologia]">
            {{ articolo }}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>


<app-footer></app-footer>
