.intest {
  background-color: #EF8000;
  width: 100%;
}

.titolo {
  color: white;
  font-weight: bolder;
  font-size: 2vw;
}

.sezione1{
}

.contInput{
  padding: 1vw;
  display: flex;
}

.spazio{
  margin-left: 0.5vw;
}


.myForm{
  width: 7vw;
  height: 4vh;
  border: solid 1px black;
}

.formPers2{
  font-weight: bold;
  width: 10vw;
  height: 4vh;
  border: solid 1px black;
}

.formPers{
  font-weight: bold;

}


.sezioneLotteria{
  padding: 1vw;

}
