<div class="intest">
  <div class="d-flex justify-content-center">
    <div class="titolo">TOUCH-SCREEN</div>
  </div>
</div>

<!--1-->
<section class="sezione1">
  <div class="contInput">
    <input class="form-control myForm" value="Numero" readonly>
    <span class="spazio"></span>
    <input class="form-control myForm" type="number" value="1">

    <span class="spazio"></span>

    <input class="form-control myForm" value="Data" readonly>
    <span class="spazio"></span>
    <input class="form-control formPers2"  type="date" [value]="currentDate">

    <span class="spazio"></span>

    <input class="form-control myForm" value="Orario" readonly>
    <span class="spazio"></span>
    <input class="form-control formPers myForm" type="time" [value]="currentTime">
  </div>
</section>


<section class="sezioneLotteria">
  <input class="form-control formPers2" value="Codice Lotteria" readonly>

</section>

<app-footer></app-footer>
