.intest {
  background-color: #EF8000;
  width: 100%;
}

.titolo {
  color: white;
  font-weight: bolder;
  font-size: 2vw;
}

.bordoX {
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 0.5vw;
  margin-top: -0.6vh;
  cursor: pointer;
}

.fa-solid {
  font-size: 2vw;
}

.sezione1 {
  background-color: beige;
  border: none;
  width: 100%;
}

.contInput {
  padding: 1vw;
  display: flex;
}

.contInput2 {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 27vw;
}

.spazio {
  margin-left: 0.5vw;
}

.myForm {
  width: 7vw;
  height: 4vh;
  border: solid 1px black;
}

.formPers2 {
  font-weight: bold;
  width: 10vw;
  height: 4vh;
  border: solid 1px black;
}

.formPers {
  font-weight: bold;
}

.layout-container {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 80vh;
  /* Imposta l'altezza massima della sidebar */
  overflow-y: auto;
  /* Aggiungi lo scroll verticale */
  padding: 0.521vw;
  background-color: #f2f2f2;
  border-right: 0.104vw solid #ddd;
}

.sidebar h3 {
  margin-bottom: 1.648vh;
  font-size: 1.5em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.521vw;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ddd;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #ef8000;
  color: white;
}

.grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  cursor: pointer;
}

.header-row {
  display: flex;
  font-weight: bold;
  overflow-x: scroll;
  white-space: nowrap;
}

.header-cell {
  flex: 1 0 auto;
  /* Consente alle celle di mantenere la loro larghezza e di scorrere orizzontalmente */
  text-align: center;
  padding: 0.471vw;
  border: solid 0.052vw gray;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header-cell:hover {
  background-color: #f0f0f0;
}

.header-cell.active {
  background-color: #EF8000;
  /* Colore di evidenziazione */
  color: white;
  font-weight: bold;
}

.grid-content {
  display: flex;
  flex-wrap: wrap;
  /* Permette alle colonne di andare a capo */
  gap: 1vw;
  /* Spazio tra le colonne */
  padding: 1vw;
}

.grid-column {
  display: flex;
  flex-wrap: wrap;
  /* Permette agli articoli di andare a capo */
  gap: 1vw;
  /* Spazio tra gli articoli */
}

.grid-item {
  width: 15vw;
  /* Larghezza fissa per ogni articolo */
  background-color: #fff;
  border: 0.052vw solid #ddd;
  border-radius: 0.26vw;
  padding: 0.521vw;
  text-align: center;
}

/* Limita l'altezza della griglia e abilita lo scroll verticale */
.prodotti-scroll {
  height: 544px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  overflow-x: hidden;
  border: solid 1px black;
}

/* Stile per le carte dei prodotti */
.articolo-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articolo-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.p-3 {
  padding: 0rem !important;
}

.titoloColonna {
  font-size: 12px;
}

.testoColonna {
  font-size: 10px;
}

.contenitoreBottoni {
  display: flex;
  align-items: center;
}

.contButton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contButton2 {
  margin-left: 10px;
}


.btn2 {
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 47px !important;
  margin-bottom: 3px;
}


/*----------------------*/
.calcolatrice-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
  margin-top: -8.2vh;
  background-color: rgb(161, 161, 161);
}

.display {
  margin-bottom: 10px;
  padding: 15px;
  /* Maggiore padding per un'area di visualizzazione più grande */
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1.5em;
  /* Aumenta la dimensione del font per una visualizzazione migliore */
  overflow-y: auto;
  /* Abilita lo scroll verticale */
  height: 250px;
  /* Imposta un'altezza massima più grande per il display */
}

.espressione {
  margin-bottom: 10px;
}

.totale-prodotti {
  margin-top: 10px;
  font-weight: bold;
}

.prodotti-selezionati {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.prodotti-selezionati h5 {
  margin-bottom: 10px;
}

.prodotti-selezionati table {
  width: 100%;
  border-collapse: collapse;
}

.prodotti-selezionati th,
.prodotti-selezionati td {
  padding: 10px;
  /* Maggiore padding per le celle della tabella */
  border: 1px solid #ddd;
  text-align: center;
}

.prodotti-selezionati th {
  background-color: #f0f0f0;
}

.prodotti-selezionati tfoot td {
  font-weight: bold;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  max-width: 800px;
}

.btn {
  flex: 1 1 calc(25% - 10px);
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn:active {
  background-color: #e0e0e0;
}

.btn.uguale {
  background-color: #007bff;
  color: #fff;
}

.btn.uguale:active {
  background-color: #0056b3;
}

.btn.reset {
  background-color: #dc3545;
  color: #fff;
}

.btn.reset:active {
  background-color: #c82333;
}

.contPagamento{
  display: flex;
}

.pagamento {
  display: flex;
  align-items: start;
  flex-direction: column;
}

#pagaContanti {
  margin-bottom: 5px;
}


.Btnpagamento{
  height: 50px !important;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: #EF8000;
  color: white;
  border: none;
  margin-left: 10px;
  margin-top: 10px;

}

.resto-display {
  font-weight: bolder;
}

.buttonPers {
  background-color: red;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
