<div class="intest">
  <div class="d-flex justify-content-center">
    <h1 class="titolo">CASSA</h1>
  </div>
</div>

<section class="sectionButton">

  <div class="d-flex justify-content-center">

    <div class="row">
      <div class="col">
        <button class="buttonPers">
          <i class="fa-solid fa-folder-open"></i>Archivio
        </button>
        <button class="buttonPers" routerLink="/vendita">
          <i class="fa-solid fa-sack-dollar"></i>Vendita
        </button>
      </div>

      <div class="col">

        <button class="buttonPers">
          <i class="fa-solid fa-clipboard"></i>Prima nota
        </button>
        <button class="buttonPers">
          <i class="fa-solid fa-box"></i>Carico merci
        </button>
      </div>
      
    </div>
  </div>

</section>

<!-- Footer -->
<app-footer></app-footer>
