/* Stili generali (desktop) */
.intest {
  background-color: #EF8000;
  width: 100%;
}

.titolo {
  color: white;
  font-weight: bolder;
  font-size: 2vw;
}

.sectionButton {
  margin-top: 10vh;
}

.buttonPers {
  width: 20vw;
  height: auto;
  padding: 1vh;
  border-radius: 2vw;
  border: none;
  background-color: #EF8000;
  color: white;
  margin-left: 2vw;
  margin-bottom: 3vh;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 2.4vw;
  margin-right: 1vw;

}



/* Media query per tablet (larghezza massima 768px) */
@media screen and (max-width: 768px) {
  .titolo {
    font-size: 6vw;
  }

  .buttonHome {
    width: 40vw;
    font-size: 3vw;
    padding: 2vh;
    border-radius: 3vw;
  }

  .fa-solid {
    font-size: 3vw;
  }

  .footer-links a {
    font-size: 2.5vw;
  }
}

/* Media query per dispositivi mobili (larghezza massima 600px) */
@media screen and (max-width: 600px) {
  .titolo {
    font-size: 8vw;
  }

  .buttonHome {
    width: 90vw;
    font-size: 4vw;
    padding: 3vh;
    border-radius: 5vw;
    margin-left: 0;
  }

  .fa-solid {
    font-size: 4vw;
  }

  .sectionButton {
    margin-top: 5vh;
  }


}
