<div class="intest">
  <!-- Contenitore Flex per titolo e testo -->
  <div class="flex-container">

    <div class="titolo">VENDITA</div>

    <div class="text-right" routerLink="/home"><i class="fa-solid fa-door-open"></i></div>
  </div>
</div>


<section class="d-flex justify-content-center sectionButton">

  <div class="row ">
    <div class="col">
      <button class="buttonPers">Fattura immediata</button>
      <button class="buttonPers">Fattura differita</button>
      <button class="buttonPers">Doc. di trasporto</button>
    </div>

    <div class="col">
      <button class="buttonPers">Ricevuta fiscale</button>
      <button class="buttonPers">Vendita al banco</button>
      <button class="buttonPers" routerLink="/touchscreen">Touch screen</button>
    </div>

    <div class="col">
      <button class="buttonPers">Preventivo</button>
      <button class="buttonPers">Conferma d'ordine</button>
      <button class="buttonPers">Nota accredito</button>
    </div>
  </div>
</section>



<app-footer></app-footer>
