/* Stili generali (desktop) */
.intest {
  background-color: #EF8000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra il contenitore flessibile */
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spazio tra il titolo e la scritta */
  width: 100%;
  max-width: 90%; /* Limita la larghezza massima del contenitore */
}

/* Stile per il titolo al centro */
.titolo {
  color: white;
  font-weight: bolder;
  font-size: 4vw;
  text-align: center;
  flex: 1; /* Permette di espandere per riempire lo spazio disponibile */
}

/* Stile per il testo all'estrema destra */
.text-right {
  color: white;
  font-size: 2vw;
  text-align: right;
  white-space: nowrap; /* Impedisce alla scritta di andare a capo */
}

.sectionButton {
  margin-top: 10vh;
}

.fa-solid {
  font-size: 2.4vw;
  margin-right: 1vw;
  cursor:pointer;
}


.buttonPers {
  width: 20vw;
  height: auto;
  padding: 1vh;
  border-radius: 2vw;
  border: none;
  background-color: #EF8000;
  color: white;
  margin-left: 2vw;
  margin-bottom: 3vh;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
