<div class="intest">
  <div class="d-flex justify-content-center">
    <h1 class="titolo">VENDITA</h1>
  </div>
</div>


<section>
<div class="row">
  <div class="col">
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
  </div>

  <div class="col">
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
  </div>

  <div class="col">
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
    <button class="buttonPers">1</button>
  </div>

</div>

</section>



<app-footer></app-footer>
