/* You can add global styles to this file, and also import other style files */
/* Per i browser basati su WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Per Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
