/* Stili per il Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2vh 0;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 1vh;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 1vw;
  font-size: 1.5vw;
}

.footer-links a:hover {
  text-decoration: underline;
}


@media screen and (max-width:600px) {
  
  .footer-links a {
    font-size: 3vw;
    display: block;
    margin: 1vh 0;
  }
}
